{% block bootstrap %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

{% endblock %}

{% block query_form %}
    <div
        class="query_form container">
        <label
            for="query_request">
            <span class="text-primary">Type address of TON site:</span>
        </label>
        <div
            class="input-group input-group mb-3">
            <div
                class="input-group-prepend">
                <span class="input-group-text">
                    http://test.ton
                </span>
            </div>
            <input
                type="text"
                class="form-control"
                id="query_request"
                placeholder="*.ton or *.andl"
            >
            <div
                class="input-group-append">
                <button
                    class="btn btn-outline-secondary"
                    type="button"
                    onclick="requestTonSite()"
                >
                Go!
                </button>
            </div>
        </div>
    </div>
    <div class="result">
        <div id="status">
        </div>
    </div>
{% endblock %}

{% block js %}
<script>
function requestTonSite() {
    let result = document.querySelector(".result");
    let query = document.querySelector("#query_request");
    let req_status = document.querySelector("#status");

    let xhr = new XMLHttpRequest();
    let url = "/api/request"

    xhr.open("POST", url, true);
    xhr.setRequestHeader("Content-Type", "text/html; charset=utf-8")

    xhr.onreadystatechange = function () {
        if (xhr.readyState === 4 && xhr.status === 200) {
            result.innerHTML = this.responseText
        }
        else {
            req_status.innerHTML = `
                <div class="alert alert-primary" role="alert" aria-hidden="true">
                    <h4><span class="badge badge-danger">${xhr.status}</span> ${this.responseText}</h4>
                    
                </div>
            `
        }
    };

    var data = JSON.stringify(
        {
            "path": query.value
        }
    );
    console.log(data)
    try {
        xhr.send(data);        
    } catch (error) {
        result.innerHTML = `
            Failed to get site with address ${query.value}
        `
    }
}
</script>
{% endblock %}
